.searchInput {
    background-color: rgb(26, 27, 29);
    color: aliceblue;
    font-size: 16px;
    padding: 8px;
    margin: 30px 0px 30px 0px;
    border-style: none;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart {
     display: flex;
    flex-wrap: wrap;
   justify-content: space-around; 
    gap: 22px;
}
.movieData {
    background-color: rgb(49, 133, 133);
    color: azure;
    height: 300px;
    width: 400px;
    padding: 10px;
    text-align: center;
    column-gap: 8px;
    margin: 30px;
}
.searchBtn {
    font-size: 18px;
    padding: 5px;
    background-color: coral;
    color: aliceblue;
    margin-left: 18px;
    border-style: none;
    cursor: pointer;
}
.searchBtn:hover {
    background-color: brown;
}